*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.intro{
  background: url(./images/starry-dark-c.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#particles-js{
  padding-top: 57px;
  height: calc(100vh - 57px);
}

.carousel{
  height: 100vh;
  overflow: auto;
  scroll-snap-type: block mandatory;
  scroll-behavior: smooth
}

.section{
  height: 100vh;
  scroll-snap-align: center;
}

/* Indicators */

.indicator-container{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  height: max-content;
  width: 0;
}

.indicator {
  display: block;
  position: relative;
  width: 4px;
  height: 32px;
  background-color: rgb(145, 145, 145);
  margin: 8px 0px;
}

.indicator::before{
  content: '';
  position: absolute;
  left:-20px;
  width:4px;
  height: 32px;
  padding: 0 32px;
}

.indicator--selected{
  background-color: white;
}

/* tabs */
.tab{
  top: -32px;
  border: 1px solid gray;
  border-radius: 4px;
  width: 88px;
  height: 40px;
  transition: all 0.1s ease-in-out;
  outline: none !important;
}

.tab:hover{
  top: -38px;
}

.tab--active{
  top: -38px
}

.tab-content{
  z-index:1;
  display: none;
  border-top: 1px solid white;
  align-items: center;
}

.tab-content--active[data-tab-content]{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;

}

.rails{
  left: calc(25% - 44px);
}

.react{
  left: calc(50% - 44px);
}

.vue{
  left: calc(75% - 44px);
}

.rails.tab--active{
  box-shadow: 0 0 16px 2px  #FF0000,
              inset 0 0 16px 2px  #FF0000;
  border:1px solid #FF0000;
}

.react.tab--active{
  box-shadow: 0 0 16px 2px  #00FFFF,
              inset 0 0 16px 2px  #00FFFF;
  border:1px solid #00FFFF;
}

.vue.tab--active{
  box-shadow: 0 0 16px 2px  #00FF00,
              inset 0 0 16px 2px  #00FF00;
  border:1px solid #00FF00;
}

/* card */
.c1{
  background: url(./images/pic1.jpg);
}

.c2{
  background: url(./images/pic2.jpg);
}

.c3{
  background: url(./images/pic3.jpg);
}

.c4{
  background: url(./images/pic4.jpg);
}

.c5{
  background: url(./images/pic5.jpg);
}

.c6{
  background: url(./images/pic6.jpg);
}

.c7{
  background: url(./images/pic7.jpg);
}

.c8{
  background: url(./images/pic8.jpg);
}

.c9{
  background: url(./images/pic9.jpg);
}
